<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlt.jlt_webstu.mapper.AuctionBagMapper">

    <resultMap id="BaseResultMap" type="com.jlt.jlt_webstu.model.domain.AuctionBag">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="userID" column="userID" jdbcType="VARCHAR"/>
            <result property="auctionName" column="auctionName" jdbcType="VARCHAR"/>
            <result property="auctionMesUrl" column="auctionMesUrl" jdbcType="VARCHAR"/>
            <result property="auctionImageUrl" column="auctionImageUrl" jdbcType="VARCHAR"/>
            <result property="auctionDescription" column="auctionDescription" jdbcType="VARCHAR"/>
            <result property="auctionID" column="auctionID" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,userID,
        auctionName,auctionMesUrl,auctionImageUrl,
        auctionDescription,auctionID
    </sql>
</mapper>
